
@{
    ViewData["Title"] = "The More You Know";
}
<!-- Header-->
<header class="py-5">
    <div class="container px-5">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xxl-6">
                <div class="text-center my-5">
                    <h1 class="fw-bolder mb-3">Utah Motor Vehicle Crashes <span style="text-decoration: line-through">Fun</span> Unfortunate Facts</h1>


                </div>
            </div>
        </div>
    </div>
</header>
<!-- About section one-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/car_crash_3.jpg" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Utah Crash Stats</h2>
                <ul class="text-muted mb-0"">
                    <li>Crash occurs in Utah every 8 minutes. A person is injured in a crash every 20 minutes, and a person dies in a crash every 33 hours.</li>
                    <li>Utah Crashes are a leading cause of injury-related death for Utahns.</li>
                    <li>Teens have the lowest seat belt usage rate of any age group. In 2013, nearly 75 percent of all teens killed on Utah roads were not restrained.</li>
                    <li>In 2018 there were 62,074 motor vehicle crashes on public roadways in Utah, resulting in 25,645 injured persons and 260 dealths. (Utah Highway Safety Office)</li>
                </ul>

            </div>
        </div>
    </div>
</section>
<!-- About section two-->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/crashes_per_city.png" alt="..." /></div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Crashes Per City</h2>
                <p class="lead fw-normal text-muted mb-0"> In the graph we sorted the crashes by greatest amount per city. This can help us gague where we need to focus our attention the most.</p>

            </div>
        </div>
    </div>
</section>
<!-- About section three-->
<section class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/Date_of_Crashes.png" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">Date of Crashes</h2>
                <p class="lead fw-normal text-muted mb-0"> In the graph we can determine that the end of the year seems to see a spike in crashes. This can help us further analyze how we can use preventative measures better during peak crash months. </p>
            </div>
        </div>
    </div>
</section>
<!-- About section four -->
<section class="py-5">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <div class="col-lg-6 order-first order-lg-last">
                <img class="img-fluid rounded mb-5 mb-lg-0" src="~/img/seat_belt.jpg" />
            </div>
            <div class="col-lg-6">
                <h2 class="fw-bolder">How can you better prevent crashes?</h2>
                <ul class="text-muted mb-0">
                    <li>Always where a seatbelt</li>
                    <li>Use car seats when riding with children (0-8) and learn to install the car seats correctly</li>
                    <li>Create environments that prevent impaired driving (take over for drowsey drivers, designated drivers, etc.)</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>


@*<body style="background-color: #141414" >
        <div class="text-center">
            <h1 style="color: #ffc107">Utah Motor Vehicle Crashes <span style="text-decoration: line-through">Fun</span> Unfortunate Facts</h1>

            <div class="container p-5 my-5 border border-warning " style="background-color: #ffc107">
                <h4>Utah Stats</h4>
                <ul class="text-left">
                    <li>Crash occurs in Utah every 8 minutes. A person is injured in a crash every 20 minutes, and a person dies in a crash every 33 hours.</li>
                    <li>Utah Crashes are a leading cause of injury-related death for Utahns.</li>
                    <li>In 2018 there were 62,074 motor vehicle crashes on public roadways in Utah, resulting in 25,645 injured persons and 260 dealths. (Utah Highway Safety Office)</li>
                </ul>
            </div>

            <h3 style="color: #ffc107">Crashes Per City</h3>
            <img src="~/img/crashes_per_city.png" width="1100" class="m-2" />
            <br />
            <h3 style="color: #ffc107">Date of Crashes</h3>
            <img src="~/img/Date_of_Crashes.png" width="1100" />
            <div class="container p-5 my-5 border border-warning " style="background-color: #ffc107">
                <h4>How can you better prevent crashes?</h4>
                <ul class="text-left">
                    <li>ALways where a seatbelt</li>
                    <li>Use car seats when riding with children (0-8) and learn to install the car seats correctly</li>
                    <li>Create environments that prevent impaired driving (take over for drowsey drivers, designated drivers, etc.)</li>
                </ul>
            </div>

        </div>
    </body>*@