<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="shortcut icon" href="~/img/icons8-car-accident-16.png" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body class="d-flex flex-column h-100">
        <main class="flex-shrink-0">
            <!-- Navigation from Bootstrap theme -->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container px-5">
                    <a class="navbar-brand" asp-controller="Home" asp-action="Index">Appcident</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Home" asp-action="ViewCrashes">Crash Data</a></li>
                           
                            <li class="nav-item dropdown">
                                <button class="nav-link dropdown-toggle btn" id="navbarDropdownBlog" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Statistics</button>
                                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownBlog">
                                    <li><a class="dropdown-item" asp-controller="Inference" asp-action="MLModel">Crash Severity Prediction</a></li>
                                    <li><a class="dropdown-item" asp-controller="Inference" asp-action="CrashCount">Crash Count Prediction</a></li>
                                    <li><a class="dropdown-item" asp-controller="Home" asp-action="FunFacts">The More You Know</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" asp-controller="Account" asp-action="Login">Log In</a></li>
                        </ul>
                    </div>
                </div>
            </nav>

            

            <div class="container-fluid">
                <partial name="_CookieConsentPartial" />
                <main role="main">
                    @RenderBody()
                </main>
            </div>

        </main>

        <footer class="bg-dark py-4 mt-auto">
            <div class="container px-5">
                <div class="row align-items-center justify-content-between flex-column flex-sm-row">
                    <div class="col-auto"><div class="small m-0 text-white">Copyright &copy; Utah Department of Transportation 2022</div></div>
                    <div class="col-auto">
                        <a class="link-light small" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Terms</a>
                        <span class="text-white mx-1">&middot;</span>
                        <a class="link-light small" href="#!">Contact</a>
                    </div>
                </div>
            </div>
        </footer>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <!-- Bootstrap core JS-->
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="~/js/scripts.js" asp-append-version="true"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
